/* === CONTENEDOR PRINCIPAL === */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(158, 128, 128);
}
/* === ESTILOS DE LA TABLA === */
.cerrar{
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ff0000;
}
.modal-agregar-gasto{
    /* Estilos para mostrar modal centrado en pantalla*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.modal-agregar-gasto h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}   
.modal-agregar-gasto label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}
.modal-agregar-gasto input,
.modal-agregar-gasto select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 4px;
}
